
.main-section{
position: relative;
background-color:moccasin;
height: 800px;
width: auto;
}

#box-about{
position: absolute;
background-color: olive;
height:500px;
width: 60%;
margin-left: 360px;
margin-top: 20px;

}


img{
    margin-left: 50px;
}


#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    /* margin-right: 20px; */

}
a{
    color: white;
    float: right;
    margin-right: 20px;
}
h2{
    margin-left: 50px;
    color: white;
}

p{
    color: white;
}


h1{
    margin-left: 20px;
}
